body {
    background-color: #efefef;
    /* color: #ff0000; */
}

/* seleccionar elementos por id */
#parrafo {
    color: #ff0000;
}

/* seleccionar elementos por clase */
.etiqueta {
    color: #00aa00;
}