body {
    background-color: #efefef;
}

p {
    color: #222fff;
    text-align: left;
    text-indent: 40px; /* sangria la primera linea */
    line-height: 1.7; /* separacion entre lineas */
    word-spacing: 10px; /* separacion entre palabras */
    /* text-shadow: 5px 2px 2px red; */
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;
    letter-spacing: 3px; /* separacion entre letras ejm: G o o g l e ! */
}

/** ME QUEDE EN LINK **/